<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sign Up</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <div class="web-page-content">
    <h1>Create an account</h1>
    <div class="form-div">
      <form id="form" action="/auth/sign-up" method="POST">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required />
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required />
        <label for="confirmPassword">Confirm Password</label>
        <input 
          type="password"
          name="confirmPassword"
          id="confirmPassword"
          required 
        />
        <button class="form-button" type="submit">Register</button>
        <br>
        <p>Have An Account? <a class=form-alt-option href="/auth/sign-in">Sign In</a></p>
      </form>
    </div>
    <%- include('../partials/_logo.ejs') %>
  </div>
</body>
</html>
