<nav>
  <% if (user) { %>
    <a href="/users/<%= user._id %>/watches">View My Collection</a>
    <a href="/auth/sign-out">Sign Out</a>
    <% } else { %>
      <a href="/auth/sign-up">Sign Up</a>
      <a href="/auth/sign-in">Sign In</a>
      <% } %>
</nav>