<label class="hamburger-menu">
  <input type="checkbox" />
</label>
<aside class="sidebar">
  <nav>
    <% if (user) { %>
      <div>
        <a href="/collections/" class="nav-bar">Explore Other Collections</a>
      </div>
      <div>
        <a href="/users/<%= user._id %>/watches" class="nav-bar">View My Collection</a>
      </div>
      <div>
        <a href="/auth/sign-out" class="nav-bar">Sign Out</a>
      </div>
      <% } else { %>
        <div>
          <a href="/auth/sign-in" class="nav-bar">Sign In</a>
        </div>
      <div>
        <a href="/auth/sign-up" class="nav-bar">Register</a>
      </div>
      <% } %>
  </nav>
</aside>