@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
body, html {
  box-sizing: border-box;
  display: flex;
  margin: 0;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  background-color: beige;

}

th {
  text-align: right;
}
td {
  text-align: left;
  padding-left: 5px;
}

.nav-bar {
  text-decoration: none;
  color: inherit;
  transition: font-weight 0.15s;
  transition: color 0.15s;
}

.nav-bar:hover {
  font-weight:bold;
  color: rgb(194, 194, 194);
}

.web-page-content {
  display: flex;
  flex-direction:column;
  align-items: center;
  width: 100vw;
  background-color: beige
}

.form {
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
}

.form-button {
  margin-top: 15px;
  font-size: 20px;
  border: none;
  background-color: rgb(16,80,51);
  border-radius: 35px;
  font-family: 'Raleway', sans-serif;
  color: beige;
  transition: color 0.15s;
}

.form-alt-option {
  text-decoration: none;
  color: inherit;
  transition: color 0.15s;
  font-weight:bold;
}

.form-alt-option:hover, .form-button:hover {
  color: goldenrod;
}

.form-alt-option:active, .form-button:active {
  color: black;
}


.form-div {
  margin: 5px;
  padding: 35px;
  padding-top: 20px;
  background-color: rgb(16,80,51);
  border-radius: 20px;
}

:root {
  --bar-width: 40px;
  --bar-height: 5px;
  --hamburger-gap: 5px;
  --foreground: rgb(16,80,51);
  --background: white;
  --hamburger-margin: 8px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2)
}


.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  position: absolute;
  top: var(--hamburger-margin);
  left: var(--hamburger-margin);
  z-index: 2;
  cursor: pointer;
  font-family: 'Lato', sans-serif;
  transition: opacity 0.2s;
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
  border: 1px solid var(--background);
  box-shadow: 0 0 0 1px var(--foreground);
}

.hamburger-menu:has(input:checked) {
  --foreground: white;
  --background: #333;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  border-radius: 9999px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing), translate var(--animation-timing), background-color var(--animation-timing);
}


.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}


.hamburger-menu input:checked {
 opacity: 0;
 width: 0;
}

.sidebar {
  transition: translate var(--animation-timing);
  translate: -100%;
  padding: .5rem 1rem;
  padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
  background-color: var(--foreground);
  color: var(--background);
  max-width: 10rem;
  min-height: 100vh;
}

.hamburger-menu:has(input:checked) + .sidebar {
  translate: 0;
}

.hamburger-menu:hover {
  opacity: 0.5;
}

.hamburger-menu:active {
  opacity: 1;
}