<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Collection</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <%- include('../partials/_navbar') %>
  <div class="web-page-content">
    <h1>Add a Watch</h1>
    <form id="form" action="/users/<%= user._id %>/watches" method="POST">
      <label for="brand">Brand</label>
      <input id="brand" name="brand" required>

      <label for="model">Model</label>
      <input id="model" name="model" required>

      <label for="year">Year</label>
      <input  id="year" name="year" type="number" max="2024" required>

      <label for="dialsize">Dial Size</label>
      <input id="dialsize" name="dialsize" type="text" required>

      <label for="condition">Condition</label>
      <select id="condition" name="condition" required>
        <option value="brand-new">Brand new</option>
        <option value="mint-condition">Mint condition</option>
        <option value="slightly-used">Slightly used</option>
        <option value="used">Used</option> . 
        <option value="old">Vintage</option>
      </select> 
      <label for="price">Price</label>
      <input id="price" name="price" type="number" min="0">

      <label for="forsale">Is this watch for sale?</label>
      <input id="forsale" name="isForSale" type="checkbox">

      <label for="notes">Notes</label>
      <textarea id="notes" name="notes"></textarea>

      <button type="submit">Add watch</button>
    </form>
  </div>

</body>

</html>